@import '../../global/scss/config';

.exhibit {
    @include flex(column, flex-start, center);
    @include pad-box(36px 48px);
    width:100%;

    &-display {

      // Exhibit Header Section
      &-content{
        @include scale-max-content-width;
        &-divider {
          margin-top: 0;
          @media screen and (max-width: $screen-sm-min){
            margin-top: 0;
          }
        }
        &-first {
          margin-top: 40px;
          align-items: center;
          height: 250px;
          background: url('https://source.unsplash.com/featured/?louvre');
          background-size: cover;
          display: flex;
          justify-content: center;
          z-index: 0;

          @media screen and (max-width: $screen-sm-min){
            height: 200px;
            margin-top: 0px;
          }
          ;

          &-logo {
            z-index: 2;
            font-family: "Playfair Display", "Times New Roman", Times, serif;
            font-size: 40px;
            filter: invert(50%);
            mix-blend-mode: difference;
            @media screen and (max-width: $screen-sm-min) {
              text-align: center;
            }
          }
        }
      }
    }
    // Exhibit Content Section
    &-section {
      &-featured {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &-title {
          text-align: center;
        }

        @media screen and (max-width: $screen-sm-min) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
          &-label{
            margin-bottom: 0;
          }
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 12px;
          @media screen and (max-width: $screen-sm-min) {
            margin: 40px 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .user-link-btn {
            background: -webkit-linear-gradient(#a5f5d0, $teal);;
            border: none;
            font-size: 18px;
            height: 28px;
            font-weight:700;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-shadow: none;
            @media screen and (max-width: $screen-sm-min) {
              height: 27px;
              font-size: 12px;
              padding: 0;
            }
          }
        }
      }
      &-search {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }