@import '../../global/scss/config';

.explore {
    &-div{
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 40px;
        background: rgba(0, 0, 0, 0.03);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      @media screen and (max-width: $screen-sm-min) {
        margin-bottom: 20px;
        background: rgba(0, 0, 0, 0.03);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      .explore-overlay {
        padding: 10px 10px;
      }
    }
    @include flex(column, flex-start, center);
    @include pad-box(36px 48px);
      width:100%;

    &-search{
      width: 30%;
    }

    &-title, &-dates {
      font-family: 'Spartan';
    }

    &-query {
      margin-bottom: 12px;
      border-right-color: transparent;
    }

    &-img {
      width:100%;
    }
    &-content {
      @include scale-max-content-width;
  
      .explore-section {
        &-form {
          display: flex;
          align-items: flex-start;
          }

        &-content{
          @media screen and (min-width: $screen-lg-min) {
            text-align: center;
          }
          @media screen and (max-width: $screen-sm-min) {
            text-align: center;
            margin-top: 20px;
          }
          &-label{
            @media screen and (min-width: $screen-lg-min) {
              margin: 40px;
              font-size: 16px;
              font-weight: 900;
              font-family: 'Simonetta';
            }
          }
          &-results {
            @media screen and (max-width: $screen-sm-min) {

            }
          }
        }
        &-title {
          font-family: "Playfair Display", "Times New Roman", Times, serif;
          color: rgb(68, 68, 68);
          font-size: 40px;
          margin-bottom:18px;
          line-height: 1em;
          @media screen and (max-width: $screen-sm-min) {
            text-align: center;
          }
        }
        &-text {
            @include font(20px, 300, 0, white);
          }
        }
      }
    }

    // Exhibit Modal Form

    .modal-art{
      &-title {
        margin: 18px 0 0;
      }
      &-form {

      }
      &-container {
        text-align: center;
        @media screen and (max-width: $screen-sm-min){
          display: flex;
          justify-content: center;
        }
        &-btn {
          margin: 0 8px;
          @media screen and (max-width: $screen-sm-min){
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

      }
    }
  

    // Ant Design Overrides

    .ant-modal {
      &-content {
        border-radius: 5px;
      }

      &-body{
        padding: 24px;
      }

    }