@import '../../global/scss/config';

.user-module {

    &-profile {
        @media screen and (max-width: $screen-sm-min) {
            margin-top: 30px;
            padding: 0 16px;
        }
        &-info{

            @media screen and (max-width: $screen-sm-min) {
                display: flex;
                flex-direction: column;
            }
            .follow-btn-container{
                
            }
        }
        &-header {
            text-transform: uppercase;
        }
        &-img {
            @media screen and (max-width: $screen-sm-min) {
                margin-right: 12px;
            }
        }
        &-exhibits {
            &-col{
                @media screen and (max-width: $screen-sm-min) {
                    text-align:center;
                }
            }
        }
        &-section {
            &-left{
                @include flex(row, space-evenly, center);
                @media screen and (max-width: $screen-sm-min) {
                    @include flex(row, space-evenly, center);
                }
                .username{
                    font-weight: 700;
                }
                
            }
            &-divider {

                @media screen and (max-width: $screen-sm-min) {

                }
            }
            &-stats {
                @include flex(row, center, center);
                text-align: center;
                @media screen and (max-width: $screen-sm-min) {
                    margin-top: 30px;
                }
            }
        }
        &-stats-col {
            &-label {
                font-weight: 700;
            }
        }
    }
}

.user-section-all-content {
    @media screen and (max-width: $screen-sm-min) {
        padding: 25px;
    }
}