@import '../../global/scss/config';

.app-content {
  background: transparent;

.dashboard {
    @include flex(column, flex-start, flex-start);
    @include pad-box(36px 48px);
    width:100%;
  
    &-content {
      @include scale-max-content-width;

      .ant-tabs-tab-btn {
        color: rgb(137, 204, 204);
        font-size: 20px;
      }

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $teal !important;
        font-weight:700;
        font-size: 24px;
      }
      
      .ant-tabs-ink-bar {
        background: $teal;
      }
  
      .dashboard-section {
        &-title {
          @include font(48px, 500, 0, white);
          margin-bottom:18px;
          line-height: 1em;
        }
        &-text {
            @include font(20px, 300, 0, white);
          }
        }
        
      }
    }
  }
  
  .ant-card-body {
    background: linear-gradient(90deg, rgba(180,230,228,0.10) 0%, rgba(255,250,250,0.10) 50%, rgba(180,230,228,0.10) 100%);
    // background: linear-gradient(to right, rgba(250,250,250, .4), rgba(217, 232, 255, .4)) !important;
    .ant-card-actions {
      background: linear-gradient(90deg, rgba(180,230,228,0.10) 0%, rgba(255,250,250,0.10) 50%, rgba(180,230,228,0.10) 100%);
      // background: linear-gradient(to right, rgba(250,250,250, .4), rgba(217, 232, 255, .4));
    }
  }
  #fffafa
  #d9e8ff
    .ant-modal {
      &-body {
        display: flex;
        justify-content: center;
        margin-top: 8px;
      }
      &-content{
        padding: 0 12px;
      }
      .prof-edit-form-buttons {
        display: flex;
        .ant-btn {
          margin-right: 12px;
        }
      }
    }

    .ant-drawer-close {
      color: white !important;
      font-size: 50px !important;

    }
    .ant-drawer-content {
      background-color: rgba(0,0,0,.9) !important;
      &-wrapper {
        background-color: transparent;
        width: 100% !important;
      }
    }
    .ant-drawer-body {
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
      .ant-menu {
        background-color: transparent;
      }
    }